<%= content_tag(:article, :id => "article_#{article.id}", :class => "article") do %>

  <%# Render the header for this blog article %>
  <%= render "magazine/articles/article_head", :article => article %>

  <%# Render the body of this blog article (as Markdown) %>
  <%= render "magazine/articles/article_body", :article => article %>
  
  <%# Render admin links to edit/delete this article %>
  <%= render "magazine/articles/article_links", :article => article %>
  
  <%# Render info about the person who wrote this article %>
  <div id='comments_footer'>
    <%= render "magazine/articles/blogger_information", :article => article %>
  </div>
  
  <%# Render the no. of comments %>
    <%= render "magazine/articles/comments_count", 
      :article => article if defined?(show_comments_count) and show_comments_count %>

  <div id='social_networks'>
    <%= render "magazine/articles/social_networking" %>    
  </div>
  
<% end %>
