<h2>Set featured articles</h2>
<table>
  <% @articles.each do |article| %>
  <tr>
    <td>
      <%= link_to article.title, magazine_article_path(article)  %>
    </td>
    <% if article.needs_review %>
      <td>
        <%= 'This article needs review' %>
      </td>
    <% else %>
      <td>
        <%= link_to article.featured ? 'unfeature' : 'feature' , toggle_feature_articles_path(article)  %>
      </td>
      <td>
        <%= link_to article.published ? 'unpublish' : 'publish' , toggle_publish_articles_path(article)  %>
      </td>
      <td>
        <%= link_to 'Delete', toggle_feature_articles_path(article)  %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
